
.container{
  display: grid;
  /* grid-template-columns: min-content auto auto auto; */
  row-gap: 1px;
  column-gap: 1px;
}

.row {
  display: contents;

}

.dragSrcElem{
  opacity: 0.1;
}

.elem {
  /* border: 3px solid #777;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px; */
  cursor: default;
}
